.nav-container {
    width: 100%;
}

.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 5rem;
    padding-right: 5rem;
    overflow: hidden;
    background-color: #333;
}

.nav-logo {
    display: block;
    color: white;
    float: left;
    text-align: left;
    /* font-size: 26px !important; */
    font-family: arial;
    font-style: italic;
    font-weight: 900;
    font-variant: small-caps;
    margin: 1rem;
    padding-left: 5px;
}

.nav-select {
    float: right !important;
    padding-top: 3px;
}

.nav-item {
    display: block;
    color: white;
    font-size: large;
    font-family: arial;
    font-variant: small-caps;
    margin: 0.5rem;
    padding-right: 5px;
}

.nav-item a {
    display: block;
    color: white;
    float: left;
    text-align: left;
    font-size: large;
    font-family: arial;
    font-variant: small-caps;
    margin: 0.5rem;
}

.nav-item a:hover {
    background-color: #111;
}
